{% macro player_character() %}
<div class="bg-contain bg-center bg-no-repeat flex flex-col items-center bg-gray-4 w-100px h-full"
  style="background-image: url(https://i.imgur.com/ugl6tIm.png)">
  <div class=" opacity-90 bg-white w-90% h-5 border-solid border-1">
    <div class="bg-red w-70% h-full">100</div>
  </div>
  hero
</div>

<div class="flex flex-col w-50%">
  <div class="flex items-center w-full p-1">
    <div class="ml-2 bg-gray-6 w-5 h-5"></div>
  </div>
  <div class="flex items-center justify-evenly h-full w-full">
    <div class="bg-gray-6 w-15 h-15"></div>
    <div class="bg-gray-6 w-15 h-15"></div>
    <div class="bg-gray-6 w-15 h-15"></div>
    <div class="bg-gray-6 w-15 h-15"></div>
  </div>
</div>
{% endmacro %}